#createBody {
	width: 100vw;
	background-color: var(--bkg_2);
	height: 100vh;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

#createHeader {
	display: flex;
    height: 80px;
    background: var(--gradient);
    width: 100%;
    align-items: center;
    font-size: larger;
	color: var(--bkg_1);
}
#createHeader svg{
	width: 3.5rem;
    height: 3.5rem;
    margin-left: 1rem;
}
#createHeader h2{
	font-family: var(--title);
	line-height: 80px;
	margin-left: 5px;
}
#createMain {
	display: flex;
	margin-top: 1rem;
	margin-bottom: 3rem;
	flex-direction: column;
	width: 90%;
	height: calc(80% - 1rem);
}

#createMain-section {
	display: flex;
	& > svg {
		width: calc(50% - 1rem);
		margin-right: 1rem;
	}
	& > div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;
		& > h3 {
			font-weight: 700;
		}
		& > p {
			max-height: 100px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}

#createMain-form {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 100%;
	& > * {
		width: 100%;
		margin-bottom: 1rem;
	}
}

#createMain-btns {
	position: fixed;
	bottom: 2rem;
	width: 90%;
	height: 2.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	& > button {
		height: 100%;
		width: 40%;
		font-weight: 700;
		line-height: 1rem;
		border: 1px solid rgba(0, 0, 0, 0);
		border-radius: 5px;
		cursor: pointer;
	}
	& button:first-of-type {
		background: none;
		color: var(--primary);
		border-color: var(--primary);
		&:hover {
			background-color: var(--primary);
			color: var(--bkg_2);
		}
		&:active {
			filter: brightness(0.9);
		}
	}
	& button:last-of-type {
		background: var(--gradient);
		color: var(--bkg_2);
		&:hover {
			background: var(--primary);
			color: var(--bkg_2);
		}
		&:active {
			filter: brightness(0.9);
		}
		&:disabled{
			cursor: not-allowed;
		}
	}
}

#createLoadingQuiz {
	display: flex;
	background: var(--gradient);
	height: 100vh;
	width: 100vw;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	& > div {
		background-color: var(--bkg_2);
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1rem;
		width: 80%;
		border-radius: 5px;
		& > * {
			text-align: center;
		}
		& > h6 {
			font-size: 1.25rem;
		}
		& > span {
			margin-bottom: 1rem;
			&:first-of-type {
				display: flex;
			}
		}
		& > button {
			background-color: var(--red);
			color: var(--bkg_2);
			height: 2.5rem;
			cursor: pointer;
			border: none;
			border-radius: 5px;
			font-size: 1rem;
			width: 5rem;
		}
	}
}

@media screen and (max-height: 850px) {
	#createMain {
		height: auto;
	}
	#createMain-btns {
		position: initial;
		width: 100%;
	}
}
@media screen and (max-height: 800px) {
	#createBody {
		height: auto;
	}
}

@media screen and (min-width: 800px) {
	#createBody {
		padding-bottom: 5rem;
	}
	#createMain {
		width: 80vw;
		height: auto;
	}
	#createMain-btns {
		position: initial;
		margin-top: 3rem;
		width: 100%;
	}
	#createLoadingQuiz > div {
		width: 40%;
	}
}
@media screen and (min-width: 1200px) {
	#createMain {
		width: 60vw;
		height: auto;
	}
	#createLoadingQuiz > div {
		width: 30%;
		max-width: 600px;
	}
}
@media screen and (min-width: 1700px) {
	#createMain {
		width: 40vw;
		height: auto;
	}
}
