.page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-position: center;
	width: 100vw;
	background-size: cover;
	align-items: center;
	font-size: small;
}
#header{
	padding-top: 3rem;
}
.auth-container {
	width: 90%;
	border-radius: 10px;
	background-color: #f9f9f900;
	display: flex;
	flex-direction: column;
}
.tab-container {
	display: flex;
	justify-content: space-between;
	border: none;
	border-bottom: none;
	border-radius: 5px 5px 0 0;
	overflow: auto;
}
.tab-button {
	background-color: #f1f1f1;
	width: 45%;
	border: none;
	outline: none;
	padding: .4rem;
	cursor: pointer;
	border-radius: 5px 5px 0 0;
	font-weight: bold;
	color: #333;
	float: left;
}
.tab-button:hover {
	background-color: #fbfbfb;
}
.active-tab {
	background-color: white;
}
.inactive-tab {
	background-color: #ddd;
	color: #333;
}
.form-container {
	display: flex;
	flex-direction: column;
	min-height: 29rem;
	justify-content: space-around;
	align-items: center;
	border: 1px solid #ccc;
	border-top: none;
	padding: 6px 20px;
	background-color: white;
	border-radius: 0 0 5px 5px;
	box-shadow: 4px 4px 20px #391e46;
}
.form-container svg{
	width: 10.5rem;
	height: 10.5rem;
	filter: drop-shadow(0 0 10px rgba(50, 7, 105, 0.5));
}

.form-container form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 2rem;
}
form h2 {
	color: var(--text-color);
}
.auth-div {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 1rem;
	color: #6f6d6d;
	font-family: var(--text);
}
.auth-div input {
	border: none;
	outline: none;
	border-radius: 5px;
	padding: .4rem 0.7rem;
	background-color: #fffcfc;
	box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
	transition: 300ms ease-in-out;
}
.auth-div input:focus {
	background-color: rgb(211, 211, 211);
	transform: scale(1.05);
	box-shadow: 13px 13px 100px #969696, -13px -13px 100px #ffffff;
}
.auth-btn {
	margin: 1rem;
	padding: 0.7rem 3rem;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	background: var(--gradient);
	box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%),
		0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%),
		inset 0px -0.01em 0px rgb(58 65 111 / 50%);
	color: white;
	font-family: var(--text);
  	font-weight: bold;
}
.auth-btn:hover {
	box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%),
		0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #a544e6;
	transform: translateY(-0.1em);
}
.auth-btn:active {
	box-shadow: inset 0px 0.1em 0.6em #a544e6;
	transform: translateY(0em);
}
#notification{
	height: 10rem;
}
@media (min-width: 375px) {
	.auth-container {
		width: 80%;
	}
}
@media (min-width: 401px) {
	.auth-container {
		width: 70%;
	}
}
@media (min-width: 480px) {
	.auth-container {
		width: 55%;
	}
}
@media (min-width: 600px) {
	.auth-container {
		width: 45%;
	}
}
@media (min-width: 700px) {
	.auth-container {
		width: 40%;
	}
}
@media (min-width: 801px) {
	.auth-container {
		width: 35%;
	}
}
@media (min-width: 1024px) {
	.auth-container {
		width: 30%;
	}
}
@media (min-width: 1280px) {
	.auth-container {
		width: 25%;
	}
}
@media (min-width: 1439px) {
	.auth-container {
		width: 20%;
	}
}
@media (min-width: 1679px) {
	.auth-container {
		width: 15%;
	}
}
@media (min-width: 2300px) {
	.auth-container {
		width: 12%;
	}
}
@media(min-height: 660px){
	.page{
		height: 100vh;
	}
}