#landing {
	height: 100vh;
}
.navbar {
	width: 100%;
	box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}

li {
	list-style: none;
	margin-bottom: 1.2rem;
	font-size: 1.5rem;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navbar .nav-container a {
	text-decoration: none;
	color: var(--bkg_1);
	font-weight: 500;
	font-size: 1.3rem;
	padding: 0.7rem;
	position: relative;
	width: 100%;
	margin: 1rem 0;
	font-family: var(--text);
}
.navbar .nav-container a::after {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	background-color: var(--bkg_1);
	left: 20%;
	bottom: 0;
	transition: width 0.3s ease-in-out;
}
.navbar .nav-container a:hover::after {
	width: 60%;
}
.navbar .nav-container a:hover {
	font-weight: bolder;
}

.nav-container {
	display: block;
	width: 100%;
	position: relative;
	height: 4.5rem;
	margin: auto;
	background-color: #b744c149;
	box-shadow: inset 0 0 40px rgba(23, 3, 125, 0.508);
}

.nav-container .checkbox {
	position: absolute;
	display: block;
	height: 32px;
	width: 32px;
	top: 20px;
	left: 20px;
	z-index: 5;
	opacity: 0;
	cursor: pointer;
}

.nav-container .hamburger-lines {
	display: block;
	height: 26px;
	width: 32px;
	position: absolute;
	top: 17px;
	left: 20px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background: none;
	border: none;
	cursor: pointer;
}

.nav-container .hamburger-lines .line {
	display: block;
	height: 4px;
	width: 100%;
	border-radius: 10px;
	background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
	transform-origin: 0% 0%;
	transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
	transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
	transform-origin: 0% 100%;
	transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
	display: flex;
	padding-top: 120px;
	box-shadow: inset 0 0 2000px rgba(23, 3, 125, 0.5);
	background-color: var(--primary);
	height: 100vh;
	width: 95%;
	transform: translate(-150%);
	display: flex;
	flex-direction: column;
	margin-left: -40px;
	padding-left: 50px;
	transition: transform 0.5s ease-in-out;
	text-align: center;
	justify-content: space-between;
}
.menu-items.open {
	transform: translateX(0);
}

.hamburger-lines .rotate1 {
	transform: rotate(45deg);
}

.hamburger-lines .scaleY {
	transform: scaleY(0);
}

.hamburger-lines .rotate3 {
	transform: rotate(-45deg);
}
#repositorio {
	display: flex;
	align-items: center;
}
#github-btn {
	display: flex;
	background-color: rgb(24, 23, 23);
	color: var(--bkg_1);
	padding: 0.5rem 1.4rem;
	font-size: 0.8rem;
	line-height: 1.25rem;
	font-weight: 700;
	text-align: center;
	vertical-align: middle;
	align-items: center;
	border-radius: 0.5rem;
	gap: 0.75rem;
	border: none;
	cursor: pointer;
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
	transition: 0.6s ease;
	& svg {
		height: 30px;
	}
	&:hover {
		box-shadow: none;
	}
}
.logo {
	position: absolute;
	display: flex;
	top: 5px;
	right: 15px;
	font-size: 1.2rem;
	color: #0e2431;
	align-items: center;
}
.logo svg {
	width: 4rem;
	height: 4rem;
}

#welcome {
	height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	justify-content: space-between;
	background: var(--bkg_1);
	margin-bottom: 2rem;
	margin: 0 2rem;

	& #content-text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 1rem;
		padding-top: 5rem;

		& h1 {
			font-family: var(--title);
			font-size: 3.5rem;
			font-weight: bold;
			width: 80%;
		}

		& h3 {
			margin-top: 1rem;
			font-family: var(--text);
			font-size: 1.5rem;
			font-weight: normal;

			& span {
				color: var(--primary);
			}
		}
	}

	& #icon-vr {
		display: flex;
		justify-content: flex-end;
		align-items: flex-end;
		margin-top: 2rem;

		& svg {
			width: 100%;
			max-width: 600px;
			height: 100%;
			filter: drop-shadow(23px 0px 5px rgba(98, 55, 119, 0.5));
		}
	}
}
#functions,
#team {
	display: flex;
	flex-direction: column;
	background: var(--bkg_1);
	margin: 0 2rem;
	justify-content: flex-start;
	margin-top: 2rem;
	padding-top: 1rem;

	& h1 {
		font-family: var(--title);
		font-size: 3.5rem;
		font-weight: bold;
		width: 80%;
	}
}
#functions {
	margin-top: 7rem;
	padding-top: 8rem;
}
#fc {
	align-items: center;
	margin: 2rem 0;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.function-content {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	margin-bottom: 2rem;
	border: none;
	border-radius: 10px;
	color: white;
	padding: 1rem;
	padding-bottom: 1.5rem;
	height: 25rem;
	transition: transform 0.3s ease;
	box-shadow: 0 8px 10px rgb(55 47 70 / 70%);
	&:hover {
		transform: scale(1.05);
	}
	& svg {
		margin: 1rem;
		width: 12rem;
		filter: drop-shadow(26px 0px 5px rgba(98, 55, 119, 0.5));
	}
}
#f1,
#f3 {
	background-color: var(--primary);
}
#f2 {
	background-color: var(--accent);
}

#cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 6rem 0;
	justify-content: space-evenly;
}
.card {
	width: 13rem;
	height: 17rem;
	margin: 1rem;
	background-image: linear-gradient(
		144deg,
		var(--primary),
		#492fed 60%,
		var(--primary-hover)
	);
	border: none;
	border-radius: 10px;
	padding-top: 10px;
	position: relative;
	font-family: var(--title);
	box-shadow: 0 8px 10px rgb(55 47 70 / 70%);
	transition: transform 0.3 ease;
	&:hover {
		transform: scale(1.05);
	}
}

.card span {
	font-weight: large;
	font-weight: bold;
	color: white;
	text-align: center;
	display: block;
	padding-top: 2rem;
	font-size: 1.3em;
}

.card .img {
	width: 10rem;
	height: 10rem;
	background-position: center;
	background-size: cover;
	border-radius: 100%;
	margin: auto;
	margin-top: 20px;
	box-shadow: inset 0 8px 8px rgba(51, 42, 63, 0.73);
}
#img1 {
	background-image: url("https://avatars.githubusercontent.com/u/105376328?v=4");
}
#img2 {
	background-image: url("https://avatars.githubusercontent.com/u/152179240?v=4");
}
#img3 {
	background-image: url("https://avatars.githubusercontent.com/u/15158865?v=4");
}
#img4 {
	background-image: url("https://avatars.githubusercontent.com/u/100249234?v=4");
}

#team-content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom: 8rem;
}

footer {
	background-color: #b744c149;
	padding: 1.5rem;
	display: flex;
	justify-content: center;
	box-shadow: inset 0 0 40px rgba(23, 3, 125, 0.508);
	bottom: 0;
	width: 100%;
}
#team {
	height: 93vh;
}
@media (min-width: 375px) {
	.logo {
		right: 25px;
	}
	.navbar .menu-items {
		width: 90%;
	}
	.function-content {
		height: 22rem;
	}
}
@media (min-width: 425px) {
	.navbar .menu-items {
		width: 70%;
	}
	#functions {
		margin-top: 9rem;
		padding-top: 10rem;
	}
	#fc {
		margin: 4rem 0;
	}
	.function-content {
		height: 19rem;
	}
	.function-content svg {
		width: 10rem;
	}
}
@media (min-width: 500px) {
	.navbar .menu-items {
		width: 55%;
	}
	.function-content {
		height: 17rem;
	}
}
@media (min-width: 550px) {
	.function-content {
		flex-direction: row;
		padding-bottom: 1rem;
		width: 90%;
		height: 15rem;
	}
	.function-content svg {
		width: 80%;
	}
}
@media (min-width: 650px) {
	.navbar .menu-items {
		width: 48%;
	}
	#functions {
		margin-top: 12rem;
		padding-top: 10rem;
	}
	#fc {
		justify-content: space-around;
	}
	.function-content {
		flex-direction: row;
		padding: 1rem;
		width: 85%;
	}
}
@media (min-width: 760px) {
	.navbar .menu-items {
		width: 40%;
	}
	#welcome {
		margin: 2rem;
	}
	#fc {
		flex-direction: row;
	}
	.function-content {
		margin: 1rem;
		flex-direction: column;
		height: 20rem;
	}
}
@media (min-width: 801px) {
	.function-content {
		flex-direction: column;
		height: 18rem;
	}
}
@media (min-width: 1024px) {
	.navbar .menu-items {
		width: 30%;
	}
	.nav-container .hamburger-lines {
		left: 2rem;
	}
	.logo {
		right: 2rem;
	}
}
@media (min-width: 1200px) {
	.function-content {
		margin: 1rem 1rem 1rem 2rem;
		max-width: 40rem;
		flex-direction: row;
		height: 16rem;
	}
	.function-content svg {
		width: 75%;
	}
}
@media (min-width: 1280px) {
	.navbar .menu-items {
		width: 25%;
	}
}
@media (min-width: 1300px) {
	.function-content {
		height: 14rem;
	}
	.function-content svg {
		width: 65%;
	}
}
@media (min-width: 1439px) {
	.navbar .menu-items {
		width: 20%;
	}
	.function-content svg {
		width: 55%;
	}
}
@media (min-width: 1679px) {
	.navbar .menu-items {
		width: 17%;
	}
}
@media (min-width: 2000px) {
	.navbar .menu-items {
		width: 15%;
	}
}
@media (min-width: 2300px) {
	.navbar .menu-items {
		width: 14%;
	}
}
@media (max-width: 1023px) {
	footer {
		position: fixed;
	}
}
@media (min-height: 344px) {
	#functions {
		margin-top: 23rem;
		padding-top: 19rem;
	}
}
@media (min-height: 480px) {
	#functions {
		margin-top: 20rem;
		padding-top: 17rem;
	}
}
@media (min-height: 520px) {
	#functions {
		margin-top: 17rem;
		padding-top: 17rem;
	}
}
@media (min-height: 650px) {
	#functions {
		margin-top: 13rem;
		padding-top: 13rem;
	}
}
@media (max-height: 739px) {
	.navbar .menu-items {
		padding-top: 0;
		justify-content: center;
	}
	footer {
		position: fixed;
	}
}
@media (max-height: 480px) {
	.navbar .nav-container a {
		padding: 0;
	}
}
@media (max-height: 380px) {
	.navbar .menu-items li {
		margin-bottom: 0;
		font-size: 1rem;
	}
	.navbar .nav-container a {
		font-size: 1rem;
	}
}
