#statistic-section {
	min-height: 100vh;
	width: 100%;
	background: var(--gradient);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem 2rem;
	overflow-y: auto;

	& .btn-exit {
		position: absolute;
		top: 2rem;
		left: 2rem;
		padding: 1.2rem;
		background-color: var(--red);
		outline: none;
		border: none;
		border-radius: 50%;
		cursor: pointer;
		transition: 0.5s;
		z-index: 2;

		&:hover {
			background-color: var(--red-hover);
		}
	}

	& #img-profile-avatar {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		position: relative;
		z-index: 2;
		top: 2rem;
		background-color: rgb(213, 201, 201);
	}

	& #content-statistic {
		width: 80vw;
		color: var(--background);
		border-radius: 5px;
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		gap: 2rem;
		padding: 1rem 2rem;

		& h2 {
			padding-top: 2.5rem;
			font-size: 3rem;
			font-family: var(--title);
		}

		& p {
			font-family: var(--title);
			font-size: 1.1rem;
		}

		& #user-statistic {
			background: var(--bkg_1);
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 1.5rem 3rem;
			border-radius: 2rem;
			gap: 1rem;
			width: 100%;
			max-width: 350px;

			& hr {
				height: 80px;
				width: 0.1rem;
				background: var(--background);
			}

			& .section-user-statistic {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 1rem;
				padding: 1rem 0.5rem;
				padding-bottom: 2rem;
				border-bottom: 2px solid rgb(173, 167, 167);
				width: 100%;
				min-width: 200px;
				max-width: 300px;

				&:last-child {
					border-bottom: none;
					padding-bottom: 0.5rem;
				}

				& svg {
					width: 35px;
					height: 35px;
				}

				& h3 {
					color: rgb(78, 76, 76);
					font-size: 1rem;
				}

				& p {
					color: var(--text-color);
					font-weight: bold;
				}
			}
		}

		& #recent-quiz {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			gap: 1rem;
			border-radius: 5px;
			background-color: rgb(223, 214, 214);
			padding: 1rem;
			height: fit-content;

			& h4 {
				color: var(--gray);
			}

			& ol {
				width: 100%;
				list-style: none;

				& li {
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;
					border-bottom: 1px solid var(--text-color);
					padding: 0.5rem 0;

					&:last-child {
						border-bottom: none;
					}

					& #content-played {
						display: flex;
						align-items: center;
						gap: 1rem;

						& p {
							font-size: 1rem;
							font-weight: bold;
						}

						& .number-played {
							padding: 0.5rem 1rem;
							background-color: rgb(149, 132, 132);
							color: var(--background);
							font-weight: bold;
							border-radius: 50%;
						}
					}
				}
			}
		}
	}
}
