@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --title:Finlandica;
  --text: Montserrat;
  --text-color:#120713;
  --bkg_1:#e9e6ea;
  --background: #ede2ee; 
  --primary:#b644c1;
  --accent:#67ce3b;
  --gradient: radial-gradient( 100% 100% at 100% 0%, #f756ff 0%, #b644c1 100% );
  
}
#root{
  background-color: var(--bkg_1);
}
